<div class="modal-header">
	<h4 class="modal-title">Add new task</h4>
</div>
<form role="form" ng-submit="saveTask()">
	<div class="modal-body">
		<div class="form-group">
			<label for="new-name">Task name</label>
			<input type="text" class="form-control" id="new-name" ng-model="newTask.name" placeholder="Enter task name">
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="$dismiss('cancel')">Close</button>
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>