<div class="container">

	<header class="clearfix">
		<h1>
			<a ng-click="back()" class="back"><img src="assets/images/arrow-left.png" alt="" /></a>
			{{title}}
		</h1>
	</header>

	<div class="stats">
		<span>{{tasks.length}} tasks (+{{tasks.length}}/-0)</span>
	</div>

	<ul class="list">
		<li ng-repeat="task in tasks" ng-include="'task-item.html'"></li>
	</ul>
</div>

<script type="text/ng-template" id="task-item.html" class="html">
	<div class="task">
		<input type="checkbox" class="check"  id="check-{{$id}}"/>
		<label for="check-{{$id}}">
			<img src="assets/images/check-unchecked.png" />
			<img src="assets/images/check-checked.png" />
		</label>
		<span class="title">{{task.title}}</span>
		<span class="actions">
			<span class="up" title="pin task">&#10138;</span>
			<span class="settings" title="settings">&#9881;</span>
		</span>
	</div>
	<ul ng-if="task.children.length">
		<li ng-repeat="task in task.children" ng-include="'task-item.html'"></li>
	</ul>
</script>