<div class="container">

	<header class="clearfix">
		<h2>up:</h2>
		<div class="no-upcoming">no upcoming tasks yet. pin task to get it here.</div>
		<ul class="nav nav-pills upcoming hidden">
			<li><a href="#">Get grocery</a></li>
			<li><a href="#">Pick up Thomas</a></li>
			<li><a href="#">Call Mike</a></li>
		</ul>

		<span class="add-new" ng-click="addNew()">+</span>
	</header>

	<ul class="task-lists list-unstyled">
		<li ng-repeat="taskList in taskLists" colorize=".title">
			<a class="title" href="#/tasklists/{{taskList.title}}/{{taskList.id}}">{{taskList.title}}</a>
			<div class="info">{{taskList.updated | date:'short' }}</div>
			<div class="first">&gt;&gt; Pick up Thomas</div>
			<h2 class="stats">+9/-2</h2>
		</li>
	</ul>
</div>