/* Common app styles */
html, body, .view {
	height: 100%;
	font-family: 'Open Sans', sans-serif !important;
}


/* Splash screen */
.app-loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1031;
	width: 100%;
	height: 100%;
	background: #222;
}

.app-loading .message {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #CCC;
}

.app-loading .message i {
	display: inline-block;
	margin-right: 4px;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	-webkit-transition: background .2s linear;
	transition: background .2s linear;
}

.app-loading .message .s {
	background: #EEE;
}


/* Login screen */
.login-screen {
	padding-top: 1px;
	background: #2C3E50;
	color: #fff;
	text-align: center;
}
.login-screen .container {
	margin-top: 100px;
}