/* Common app styles */
html, body, .view {
	height: 100%;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif !important;
}

/* No border radius */
.simple-modal {
	display: block;
}

.modal-content,
.modal-content .form-control,
.modal-content .btn {
	border-radius: 0;
}

.modal-content .modal-body .close {
	position: absolute;
	top: 4px;
	right: 12px;
	font-size: 40px;
}



/* ngView */
.view {
	height: auto;
}

.view.slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.view.slide.ng-enter,
.view.slide.ng-leave {
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
.view.slide.ng-enter {
	left: 100%;
}
.view.slide.ng-enter-active {
	left: 0;
}
.view.slide.ng-leave {
	left: 0;
}
.view.slide.ng-leave-active {
	left: -100%;
}

.reverse .view.slide.ng-enter {
	left: -100%;
}
.reverse .view.slide.ng-enter-active {
	left: 0;
}
.reverse .view.slide.ng-leave {
	left: 0;
}
.reverse .view.slide.ng-leave-active {
	left: 100%;
}


/* Splash screen */
.app-loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1031;
	width: 100%;
	height: 100%;
	background: #354B60;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.app-loading .message {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #CCC;
}
.app-loading .message i {
	display: inline-block;
	margin-right: 4px;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	-webkit-transition: background .2s linear;
	transition: background .2s linear;
}
.app-loading .message .s {
	background: #EEE;
}
.app-loading.ng-hide {
	display: block !important;
	opacity: 0;
}
.app-loading.ng-hide .message {
	display: none;
}


/* Common styles */
header .back {
	cursor: pointer;
}
header .back img {
	height: 40px;
	vertical-align: top;
}


/* Login screen */
.login-screen {
	padding-top: 1px;
	background: #2C3E50;
	color: #fff;
	text-align: center;
}
.login-screen .container {
	margin-top: 100px;
}
.login-screen h1 {
	position: relative;
}
.login-screen h1 p {
	display: inline;
	font-size: 12px;
}
.login-screen h1 .line {
	position: absolute;
	bottom: -20px;
	margin-left: -8px;
}
.login-screen .btn-about {
	position: absolute;
	top: 15px;
	right: 15px;
	text-decoration: none;
	cursor: pointer;
}
.login-screen .btn-about i {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 37px;
	border: 2px #DDD solid;
	border-radius: 50%;
	color: #DDD;
	font-size: 25px;
	font-style: normal;
}
.login-screen .btn-about:hover i {
	color: #5CB85C;
}
.login-screen .btn-about:active i {
	border-color: #4CAE4C;
}


/* Tasklists screen */
.tasklists-screen {
	background: url(../images/bg-dark.png) repeat 0 0;
}
.tasklists-screen header {
	padding: 25px 0;
	min-height: 67px;
	position: relative;
}
.tasklists-screen header h2 {
	color: #555;
	margin: -1px 0 0;
	float: left;
}
.tasklists-screen header .upcoming {
	float: left;
}
.tasklists-screen header .no-upcoming {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	color: #555;
	font-size: 20px;
}
.tasklists-screen header .upcoming li a {
	padding: 10px 5px 5px;
	margin: 0 5px;
	border-radius: 0;
	border-bottom: 2px transparent solid;
}
.tasklists-screen header .upcoming li a:hover {
	border-bottom: 2px #DDD solid;
	color: #DDD;
	background: none;
}

.tasklists-screen header .add-new {
	color: hsl(0, 0%, 93%);
	font-size: 62px;
	position: absolute;
	right: 0;
	top: 15px;
	height: 60px;
	display: inline-block;
	width: 60px;
	background: rgba(120, 120, 120, 0.15);
	line-height: 57px;
	text-align: center;
	cursor: pointer;
}
.tasklists-screen header .add-new:hover {
	background: rgba(120, 120, 120, 0.4);
}

/* adding new tasklist */
.modal-add .form-group {
	margin-bottom: 0;
}
.modal-add .form-control {
	height: 65px;
	font-size: 25px;
}

.confirm-modal .message {
	font-size: 24px;
}


.task-lists > li {
	list-style: none;
	padding: 10px;
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 20px 0;
	color: #FFF;
	font-size: 18px;
	background: rgba(185, 231, 176, 0.3);
	position: relative;
}
.task-lists > li > a {
	font-size: 28px;
	word-break: break-all;
	color: #B3B3B3;
	text-shadow: 1px 1px 1px #333;
}
.task-lists > li > .stats {
	color: #DDD;
	position: absolute;
	bottom: 0;
	right: 15px;
}
.task-lists > li:not(.actions):hover {
	background: rgba(226, 83, 56, 0.32) !important;
}
.task-lists .info {
	font-size: .7em;
	color: #AAA;
}
.task-lists .first {
	margin-top: 10px;
	color: #BBB;
	word-break: break-all;
	max-height: 50px;
	overflow: hidden;
}

.task-lists > li .btn-actions {
	position: absolute;
	top: 0;
	right: 7px;
	cursor: pointer;
	color: #AAA;
}
.task-lists > li .btn-actions:hover {
	color: #EEE;
}
.task-lists > li .actions-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
	display: none;
}
.task-lists > li.actions .actions-overlay {
	display: block;
	padding: 10px 20px;
}
.task-lists > li.actions > *:not(.actions-overlay) {
	-webkit-filter: blur(1.5px);
	filter: blur(1.5px);
}
.task-lists > li .actions-overlay .btn-close {
	position: absolute;
	top: 3px;
	right: 9px;
	cursor: pointer;
}

.task-lists > li .actions-overlay .actions a {
	cursor: pointer;
}


/* Tasks screen */
.tasks-screen {
	background: url(../images/bg-gray.png) repeat 0 0;
}
.tasks-screen header {
	padding: 25px 0;
	min-height: 67px;
}
.tasks-screen header h1 {
	color: #A24973; /* colors vary, configurable */
	margin: -1px 0 0;
}

.tasks-screen header h1 .actions {
	display: inline-block;
}
.tasks-screen header h1 .actions a {
	cursor: pointer;
}

.tasks-screen .stats {
	color: #5693E2;
	font-size: 18px;
}
.tasks-screen .stats span {
	color: #08C;
	padding: 0 0 5px 5px;
	display: inline-block;
}

.tasks-screen .stats.hide,
.tasks-screen .stats.hide + ul,
.tasks-screen .no-tasks {
	display: none;
}
.tasks-screen .stats.hide ~ .no-tasks {
	display: block;
}

.tasks-screen .list {
	padding: 0;
}
.tasks-screen .list ul {
	padding-left: 1.1em;
}
.tasks-screen .list > li:first-child,
.tasks-screen .list ul li:first-child {
	padding-top: 10px;
}
.tasks-screen .list ul li:last-child {
	padding-bottom: 0;
}
.tasks-screen ul li {
	color: #333;
	padding: 0 0 10px;
	font-size: 20px;
}
.tasks-screen li {
	list-style-type: none;
	border-left: 2px solid #5693e2;
	margin-left: 1em;
}
.tasks-screen li .task {
	padding-left: 2em;
	position: relative;
}
.tasks-screen li div::before {
	content: '';
	position: absolute;
	top: -10px;
	left: -2px;
	bottom: 50%;
	width: 1.7em;
	border: 2px solid #5693e2;
	border-top: 0 none transparent;
	border-right: 0 none transparent;
}
.tasks-screen li .task > * {
	vertical-align: middle;
}
.tasks-screen ul > li:last-child {
	border-left: 2px solid transparent;
}

.tasks-screen li .task .actions span {
	cursor: pointer;
	opacity: .2;
}
.tasks-screen li .task .actions span:hover {
	opacity: 1;
}

.tasks-screen li .task .actions .active {
	color: #08C;
	font-weight: bold;
	opacity: 1;
}



/* Tree counters */
.tasks-screen ul {
	counter-reset: section;
	list-style-type: none;
}
.tasks-screen ul .task:after {
	counter-increment: section;
	content: counters(section, ".") " ";
	position: absolute;
	left: 2px;
	top: 50%;
	margin-top: -17px;
	font-size: 10px;
}


.tasks-screen .task .check,
.tasks-screen .task .check + label > * {
	display: none;
	cursor: pointer;
	vertical-align: middle;
}
.tasks-screen .task .check + label > img:first-child {
	display: inline;
}
.tasks-screen .task .check:checked + label > img {
	display: none;
}
.tasks-screen .task .check:checked + label > img + img {
	display: inline;
}
.tasks-screen .task .check:checked + label + .title {
	text-decoration: line-through;
}