/* Common app styles */
html, body, .view {
	height: 100%;
	font-family: 'Open Sans', sans-serif !important;
}


/* Splash screen */
.app-loading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1031;
	width: 100%;
	height: 100%;
	background: #222;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.app-loading .message {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #CCC;
}
.app-loading .message i {
	display: inline-block;
	margin-right: 4px;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	-webkit-transition: background .2s linear;
	transition: background .2s linear;
}
.app-loading .message .s {
	background: #EEE;
}
.app-loading.ng-hide {
	display: block !important;
	opacity: 0;
}
.app-loading.ng-hide .message {
	display: none;
}


/* Login screen */
.login-screen {
	padding-top: 1px;
	background: #2C3E50;
	color: #fff;
	text-align: center;
}
.login-screen .container {
	margin-top: 100px;
}
.login-screen h1 {
	position: relative;
}
.login-screen h1 p {
	display: inline;
	font-size: 12px;
}
.login-screen h1 .line {
	position: absolute;
	bottom: -20px;
	margin-left: -8px;
}
.login-screen .btn-about {
	position: absolute;
	top: 0;
	right: 0;
}


/* Tasklists screen */
.tasklists-screen {
	background: url(../images/bg-dark.png) repeat 0 0;
}
.tasklists-screen header {
	padding: 25px 0;
	min-height: 67px;
}
.tasklists-screen header h2 {
	color: #555;
	margin: -1px 0 0;
	float: left;
}
.tasklists-screen header .upcoming {
	float: left;
}
.tasklists-screen header .no-upcoming {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	color: #555;
	font-size: 20px;
}
.tasklists-screen header .upcoming li a {
	padding: 10px 5px 5px;
	margin: 0 5px;
	border-radius: 0;
	border-bottom: 2px transparent solid;
}
.tasklists-screen header .upcoming li a:hover {
	border-bottom: 2px #DDD solid;
	color: #DDD;
	background: none;
}

.task-lists li {
	list-style: none;
	padding: 10px;
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 20px 0;
	color: #FFF;
	font-size: 18px;
	background: rgba(185, 231, 176, 0.3);
	position: relative;
}
.task-lists li > a {
	font-size: 28px;
	word-break: break-all;
}
.task-lists li > .stats {
	color: #DDD;
	position: absolute;
	bottom: 0;
	right: 15px;
}
.task-lists li:hover {
	background: rgba(226, 83, 56, 0.32);
}
.task-lists .info {
	font-size: .7em;
	color: #AAA;
}


/* Tasks screen */
.tasks-screen {
	background: url(../images/bg-gray.png) repeat 0 0;
}
.tasks-screen header {
	padding: 25px 0;
	min-height: 67px;
}
.tasks-screen header h1 {
	color: #A24973; /* colors vary, configurable */
	margin: -1px 0 0;
}
.tasks-screen .stats {
	color: #5693E2;
	font-size: 18px;
}
.tasks-screen .stats span {
	color: #08C;
	padding: 0 0 5px 5px;
	display: inline-block;
}

.tasks-screen .list {
	padding: 0;
}
.tasks-screen .list ul {
	padding-left: 1.1em;
}
.tasks-screen .list > li:first-child,
.tasks-screen .list ul li:first-child {
	padding-top: 10px;
}
.tasks-screen .list ul li:last-child {
	padding-bottom: 0;
}
.tasks-screen ul li {
	color: #333;
	padding: 0 0 10px;
	font-size: 20px;
}
.tasks-screen li {
	list-style-type: none;
	border-left: 2px solid #5693e2;
	margin-left: 1em;
}
.tasks-screen li div {
	padding-left: 2em;
	position: relative;
}
.tasks-screen li div::before {
	content: '';
	position: absolute;
	top: -10px;
	left: -2px;
	bottom: 50%;
	width: 1.7em;
	border: 2px solid #5693e2;
	border-top: 0 none transparent;
	border-right: 0 none transparent;
}
.tasks-screen ul > li:last-child {
	border-left: 2px solid transparent;
}