.cssmodal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	text-align: center;
}
.cssmodal-overlay:after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}
.cssmodal-popup {
	display: inline-block;
	position: relative;
	max-width: 80%;
	padding: 15px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
	background: #FFF;
	vertical-align: middle;
	border-radius: 6px;
}
.cssmodal-popup > .cssmodal-close {
	display: block;
	position: absolute;
	top: -15px;
	right: -12px;
	width: 12px;
	height: 12px;
	padding: 4px;
	border: 4px solid #fff;
	border-radius: 50%;
	box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, .4);
	cursor: pointer;
	background: #555;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
	font-weight: bold
}
.cssmodal-close:hover {}
.cssmodal-content {
	text-align: left;
}