<div class="container">

	<header class="clearfix">
		<h2>up:</h2>
		<div class="no-upcoming">no upcoming tasks yet. pin task to get them here.</div>
		<ul class="nav nav-pills upcoming hidden">
			<li><a href="#">Get grocery</a></li>
			<li><a href="#">Pick up Thomas</a></li>
			<li><a href="#">Call Mike</a></li>
		</ul>
		<span class="add-new" ng-click="addNew()">+</span>
	</header>

	<ul class="task-lists list-unstyled">
		<li ng-repeat="taskList in taskLists" 
			colorize=".title" 
			ng-class="{actions: showActions, 'no-child': !taskList.stats.items.length}">
			
			<a class="title" href="#/tasklists/{{taskList.title}}/{{taskList.id}}">{{taskList.title}}</a>
			<div class="info">{{taskList.updated | date:'short' }}</div>
			<div class="first">
				&gt;&gt; {{taskList.stats.items[0].title}} 
			</div>
			<h2 class="stats">+{{taskList.stats.todo}}/-{{taskList.stats.completed}}</h2>

			<span class="btn-actions" title="actions" ng-click="showActions=true">&hellip;</span>
			<div class="actions-overlay">
				<span class="btn-close" ng-click="showActions=false">&times;</span>
				<h4>Actions</h4>
				<ul class="list-unstyled actions">
					<li><a ng-click="refresh()">Refresh</a></li>
					<li><a ng-click="rename(taskList)">Rename</a></li>
					<li><a ng-click="delete(taskList.id)">Delete</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>